body{
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: inter;
}



body {
    margin: 0;
}

@media screen and (max-width: 800px){

    .bloco{
        max-height: 90%;
        max-width: 80%;
        display:block;
        align-items: center;
        justify-content: center; 
        align-items: center;
        height: auto;
    }
    .input{
        max-width: 80%;
        max-height: 50%;
    }
    .input2{
        max-width: 70%;
    }
    .blocoCadastro{
        max-width: 200%;
        max-height: 130vh;
    }
 

    .Criar{
        
        max-width: 100%;
        max-height: 50%;
    }
   
    .imgCadastro{
        display: none;
    }
    .fundo{
        max-height: 100vh;
    }


    }



    a{
        display: inline-block;
        position: relative;
        color: #3E838C;
        cursor: pointer;
        transition: 0.4s all ease;
    }
    
    a:hover{
        color: #BF7300;
        transition: 0.4s all ease;
    }
    a::after{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: #3E838C;
        transform-origin: bottom right;
        transition: transform 0.5s ease-out;
    }
    a:hover::after{
        transform: scaleX(1);
        transform-origin: bottom left;
    }
.fundo{
    width: 100%;
    height: 95vh;
}
.container {
    display: flex;
    width: 100%;
    margin: auto;
    height: 10vh;
}

.header {

    width: 100%;
    height: 100%;
    background-color:white; 
   display: flex;
   
}
.navBar{
width: 700px;
display: flex;
color: #3E838C;
list-style: none;
justify-content: space-around;


}


.header .container {
    justify-content: space-between;
    align-items: center;
} 

.topicos {
    text-decoration: none;
    color: #3E838C;

}
.topicosl {
    text-decoration: none;
    color: #BF7300;

}


/* .resumo{
 width: 450px;
 height: 350px;
 display: flex;
 flex-direction: column;
    padding: 60px;

} */

.container .cardR h2 {
    font-size: 50px;
    color:#3E838C;


}
/* .cardR img {
    width: 600px;
    height: 400px;
} */

@font-face {
    font-family:inter ;
    src: url(./Inter-VariableFont_slnt\,wght.ttf);
}


.bloco{
    display: flex;
    box-shadow: 0px 10px 20px black;
    width: 160vh;
    height: 86vh;
    margin-left: 9vh;
    margin-top: 2vh;
    border-radius: 40px;
    margin: 0 auto;
    text-align: center; 
    
    
}
.blocoCadastro{
width: 60%;

}

#subtextCadastro{
    margin-left: 22vh;
    font-size: 2vh;
}
#cadastro{
    margin-left: 13vh;
    margin-top: -3vh;
    font-size: clamp(1rem, 2vw + 1.5rem , 4rem);
    font-weight: bold;
    
}
.imgCadastro {
    width: 50vh;
    margin: 0 auto;
    text-align: center; 
    
}
.geral1{
    font-size: clamp(0.1rem, 15vw + 0.1rem , 1rem);
    margin-top: -2vh;
    /* margin-top: -0.3vh; */
    margin-bottom: 1vh;
    margin-right: 35vh;
}
.geral{
    font-size: clamp(0.1rem, 15vw + 0.1rem , 1rem);
    margin-top: 0.5vh;
    margin-bottom: 1vh;
    margin-right: 12vh;
}
.geralCS{
    font-size: clamp(0.1rem, 15vw + 0.1rem , 1rem);
    margin-top: 0.5vh;
    margin-bottom: 1vh;
    margin-right: 16vh;
}
.geralT{
    
        font-size: clamp(0.1rem, 15vw + 0.1rem , 1rem);
        margin-top: 0.5vh;
        margin-bottom: 1vh;
        margin-right: 32vh;
    
}
.geral2{
    
    font-size: clamp(0.1rem, 15vw + 0.1rem , 1rem);
    margin-top: 0.5vh;
    margin-bottom: 1vh;
    margin-right: 35vh;
}
.geralcpf{
    
    font-size: clamp(0.1rem, 15vw + 0.1rem , 1rem);
    margin-top: 0.5vh;
    margin-bottom: 1vh;
    margin-right: 37vh;
}
.campos{
    margin-left: 12vh;
    margin-top: -5vh;
}
.input{
        width: 50vh;
        height: 4vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    background-color: #ECE1C3;
    margin-top: -2vh;
    border:none;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center; 
}
.Criar{
    margin: 0 auto;
    text-align: center; 
    margin-left: 30%;
    background-color: #063940;
    color: #ffffff;
    font-weight: bold;
    width: 50vh;
    height: 6vh;
    border-radius: 17px;
    border: none;
    font-size: clamp(0.1rem, 15vw + 0.1rem , 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
margin-top: 2vh;
margin-bottom: 3vh;

}
button:hover {
    opacity: 0.8;

}
