
h2{
    /* margin-top: 4%; */
    margin-left: 14%;
    color: #063940;
    font-size: 250%;

}

 .Perguntas{
margin-left: 12%;
}  

.question {
    width: 150vh;
    padding: 1vh;
    background-color: #cfe7e9;
    border-radius: 2vh;
  }
  
  .question input,
  .question .answer { display: none }
   
  .question label {
    font-weight: bold;
    margin-left: 2%;
  }
  
   .question input:checked ~ .answer {
    width: 97%;
    height: 20vh;
    font-weight: bold;
    display: block;
    background-color: #e8f3f3;
    padding: 2vh;
 } 


h1{
    margin-top: 5%;
    margin-left: 12%;
    color: #BF7300;
    font-size: 250%;

}

h4{
    margin-left: 14%;
    color: #063940;
    font-size: 120%;
}

.container{
    display: flex;
}

.contato{
    margin-left: 14%;
    color: #BF7300;
    font-size: 3vh;

}

.contato img{
    width: 90vh;
    display: flex;
  
}


