body {
    margin: 0;
}
@media screen and (max-width: 800px){
    .contato2{
        display: none;
        width: -300vh;
    }
    .imgContato{
        width: 10vh;
    }

}

h2 {
    /* margin-top: 4%; */
    margin-left: 14%;
    color: #063940;
    font-size: 3rem;

}

.Perguntas {
    margin-left: 10%;
}



.question {
    width: 90%;
    padding: 1vh;
    background-color: #cfe7e9;
    border-radius: 2vh;

}

.question input,
.question .answer {
    display: none
}

.question label {
    font-weight: bold;
    margin-left: 2%;
    color: #063940;
    padding-top: 3vh;
    cursor: pointer;
}

.question input:checked~.answer {
    width: 97%;
    height: 20vh;
    font-weight: bold;
    display: block;
    background-color: #e8f3f3;
    padding: 2vh;
}


h1 {
    color: #BF7300;
    font-size: 2.5rem;

}

h4 {
    color: #063940;
    font-size: 2rem;
}

.container {
    margin: auto;
    display: flex;
    height: 60vh;
    justify-content: space-around;
    width: 80%;
}
.duvida{
    margin-left: 11vh;
}
.entre{
    width: 70vh;
    margin-left: 6vh;
}
.juncao{
    display: flex;
}
.contato {
    color: #BF7300;
    font-size: 3vh;
    width: 40vh;
    margin-left: 3vh;
}

.imgContato{
    width: 70vh;
    margin-left: 10vh;

}

.answer a {
    text-decoration: none;
    color: #BF7300;
}