body{
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: inter;
    /* background-image: linear-gradient(to bottom, white, white, white, rgba(253, 183, 92, 0.20),white, white, #8ebdb63e, #8ebdb63e); */
}

/*Banner Inicial*/

 .bannerInicial{
    margin-top: 7vh;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: space-between;
}

.blocoImgBannerInicial{
    width: 100vh;
    height: 70vh;
}

#imgBannerInicial{
    height: 70vh;
}
    
.tituloBannerInicial{
    margin-top: 10vh;
    font-size: 8vh;
    padding-right: 25vh;
    color: #3E838C;
}

.blocoTextoBannerInicial {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    height: 70vh;

}
.botaoSaibaMais{
    background-color: #3E838C;
    color: #ffffff;
    width: 30vh;
    height: 7vh;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.botaoSaibaMais:hover {
    background-color: #BF7300;
}
    
/*Banner Da Vinci*/
.bannerDaVinci {
    height: 75vh;
    display: flex;
    justify-content: space-between;
    padding-top: 8vh;
    margin-top: 3vh;
    /* background: rgba(253, 183, 92, 0.20); */
}

.blocoTextoBannerDaVinci {
    width: 40%;
    color: #BF7300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}

.tituloBannerDaVinci {
    font-size: 3rem;
}

.textoBannerDaVinci {
    font-size: 1.1rem;
    text-align: justify;
    text-indent: 8mm;
}

.blocoImgBannerDaVinci {
    width: 45%;
}

.decoracaoBannerDaVinci {
    border-radius: 237px 0px 0px 237px;
    background: rgba(253, 183, 92, 0.50);
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgBannerDaVinci {
    height: 50vh;
    border-radius: 40vh;
}

/*Banner Números*/

.bannerNumeros {
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10vh 0 10vh;
}

.blocoNumero {
    width: 20%;
    height: 80%;
    border-radius: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.15);
 
}

.blocoNumero:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.tituloBannerNumeros {
    font-size: 1.2rem;
    color: #063940;
    text-align: center;
}

.textoBannerNumeros {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    color: #8EBDB6;
}

.degrade {
    background-image: linear-gradient(to bottom, white, #8ebdb63e, #8ebdb63e);

}

.topicos {
    text-decoration: none;
    color: #3E838C;

}
.topicosl {
    text-decoration: none;
    color: #BF7300;

}


/* .resumo{
 width: 450px;
 height: 350px;
 display: flex;
 flex-direction: column;
    padding: 60px;

} */

.container .cardR h2 {
    font-size: 50px;
    color:#3E838C;


}
.cardR img {
    width: 600px;
    height: 400px;
}

@font-face {
    font-family:inter ;
    src: url(./Inter-VariableFont_slnt\,wght.ttf);
}


.fundo2{
    background-size:cover;
    background-position: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}
#Servicos{
    color: #3E838C;
padding-top: 10vh;


}
.espaco{
    display: flex;
    justify-content: space-between;
}
.bloco1_fundo2{
background-color: #ffffff;
width: 50vh;
height: 70vh;
margin-left: 10vh;
box-shadow: 0px 7px 10px black;  
border-radius: 80px;
}
.bloco2_fundo2{
    background-color: #ffffff;
    width: 50vh;
    height: 70vh;
    box-shadow: 0px 7px 10px black;  
    border-radius: 80px;
}

.bloco3_fundo2{
        background-color: #ffffff;
        width: 50vh;
        height: 70vh;
        box-shadow: 0px 7px 10px black;  
        margin-right: 10vh;  
        border-radius: 80px;
}
#img1_servicos{
    object-fit: cover; 
width: 35vh;
margin-top: 10vh;
}

#img2_servicos{
    object-fit: cover; 
    width: 35vh;
    margin-top: 10vh;
    }

    #img3_servicos{
        margin: center;
        object-fit: cover; 
        width: 35vh;
        margin-top: 10vh;
        }

    .text_servicos{
        font-size: 4vh;
        color: #3E838C;
    }


    .fundo3{
        background-size:cover;
        background-position: center;
        text-align: center;
        width: 100%;
        height: 100vh;
    background-color: #ffffff;
    display: flex;
    }
        
.Inove{
    color: #BF7300;
    font-size: 7vh;
   margin-left: 10vh;
    padding-top: 15vh;
}
.subtext_Inove{
    color: #BF7300;
    font-size: 3vh;
    margin-left: 10vh;
}
.bloco1_inove{
    width: 80vh;
}
.bloco2_inove{
    width: 80vh;
    margin-left: 8vh;
}
#img_inove{
    object-fit: cover; 
    width: 100vh;
    margin-top: 10vh;

}