body{
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: inter;
    /* background-image: linear-gradient(to bottom, white, white, white, rgba(253, 183, 92, 0.20),white, white, #8ebdb63e, #8ebdb63e); */
}

/*Banner Inicial*/

 .bannerInicial{
    margin-top: 7vh;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: space-between;
}

.blocoImgBannerInicial{
    width: 100vh;
    height: 70vh;
}

#imgBannerInicial{
    height: 70vh;
}
    
.tituloBannerInicial{
    margin-top: 10vh;
    font-size: 8vh;
    padding-right: 25vh;
    color: #3E838C;
}

.blocoTextoBannerInicial {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    height: 70vh;

}
.botaoSaibaMais{
    background-color: #3E838C;
    color: #ffffff;
    width: 30vh;
    height: 7vh;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.botaoSaibaMais:hover {
    background-color: #BF7300;
}
    
/*Banner Da Vinci*/
.bannerDaVinci {
    height: 75vh;
    display: flex;
    justify-content: space-between;
    padding-top: 8vh;
    margin-top: 3vh;
    /* background: rgba(253, 183, 92, 0.20); */
}

.blocoTextoBannerDaVinci {
    width: 40%;
    color: #BF7300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}

.tituloBannerDaVinci {
    font-size: 3rem;
}

.textoBannerDaVinci {
    font-size: 1.1rem;
    text-align: justify;
    text-indent: 8mm;
}

.blocoImgBannerDaVinci {
    width: 45%;
}

.decoracaoBannerDaVinci {
    border-radius: 237px 0px 0px 237px;
    background: rgba(253, 183, 92, 0.50);
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgBannerDaVinci {
    height: 50vh;
    border-radius: 40vh;
}

/*Banner Números*/

.bannerNumeros {
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10vh 0 10vh;
}

.blocoNumero {
    width: 20%;
    height: 80%;
    border-radius: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.15);
 
}

.blocoNumero:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.tituloBannerNumeros {
    font-size: 1.2rem;
    color: #063940;
    text-align: center;
}

.textoBannerNumeros {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    color: #8EBDB6;
}

/* .degrade {
    background-image: linear-gradient(to bottom, white, #8ebdb63e, #8ebdb63e, #8ebdb63e);

} */

/*Banner Nossos Serviços*/

.bannerServicos {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 8vh 0 0 0;
    background-color: #8ebdb63e;
}

.tituloBannerServicos {
    font-size: 3rem;
    color: #063940;
}

.imgBannerServicos {
    height: 30vh;
}

.blocoServicos {
    background-color: #ffffff;
    width: 40vh;
    height: 60vh;
    box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.15);  
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
}
.blocoServicos:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.textoServicos {
    text-align: center;
    color: #063940;
    font-size: 1.1rem;
    padding: 5vh;
}

/*Banner Inovação*/
.bannerInovacao{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20vh 8vh 20vh;
}

.blocoInovacao {
    width: 80vh;
}
        
.tituloBannerInovacao{
    color: #BF7300;
    font-size: 3rem;
}

.textoBannerInovacao{
    color: #BF7300;
    font-size: 1.1rem;
    text-align: justify;
    text-indent: 8mm;
    margin-right: 7vh;
}

.imgBannerInovacao {
    height: 50vh;
    margin-top: 10vh;

}