.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo img {
    width: 35vh;
    padding-left: 6vh;
    margin-top: 3vh;
}

.opcoes {
    margin-left: 10vh;
    font-size: 2.3vh;
    padding-right: 6vh;

}

.opcoes a {
    color: #3E838C;
    text-decoration: none;
    margin: 1.5vh;

}

.opcoes a:hover {
    color: #BF7300;
    font-size: 3vh;
    

}

.opcoes .entrar {
    color: #BF7300;
}