body{
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: inter;
}



body {
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    margin: auto;
    height: 10vh;
}

.header {

    width: 100%;
    height: 100%;
    background-color:white; 
   display: flex;
   
}
.navBar{
width: 700px;
display: flex;
color: #3E838C;
list-style: none;
justify-content: space-around;


}


.header .container {
    justify-content: space-between;
    align-items: center;
} 

.topicos {
    text-decoration: none;
    color: #3E838C;

}
.topicosl {
    text-decoration: none;
    color: #BF7300;

}


/* .resumo{
 width: 450px;
 height: 350px;
 display: flex;
 flex-direction: column;
    padding: 60px;

} */

.container .cardR h2 {
    font-size: 50px;
    color:#3E838C;


}
.cardR img {
    width: 600px;
    height: 400px;
}

@font-face {
    font-family:inter ;
    src: url(/Fonte/Inter-VariableFont_slnt\,wght.ttf);
}


.fundo{
    
    background-size:cover;
    background-position: center;
    text-align: center;
    width: 100%;
    height: 90vh;
}
.SaibaMais{
    color: #063940;
    font-size: 13vh;
    margin-bottom: 10vh;
    margin-left: -10vh;
    
}
.bloco1{
    display: flex;
}

#fotoS1{
    object-fit: cover; 
    width: 80vh;
    margin-top: 22vh;
    margin-right: 8vh;
}
.text1{
    margin-top: 10vh;
    margin-right: 10vh;
    margin-left: 5vh;
    color: #063940;
    font-size: 3vh;
}
.espaco2{
    margin-right: 20vh;
}


.fundo2{
    
    background-size:cover;
    background-position: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.bloco1_2{
    display: flex;
}

#fotoS1_2{
    object-fit: cover; 
    width: 80vh;
        margin-top: 20vh;
    margin-left: 8vh;
}
.espaco2_2{
    margin-right: 20vh;
    padding-top: 100vh;
}
.text2{
    margin-top: 20vh;
    margin-right: 10vh;
    margin-left: 5vh;
    color: #063940;
    font-size: 3vh;
}

