@media only screen and (max-width: 800px) {


    .SaibaFoto1{
        width: 10vh;
    }

    .blocoSaiba{
        display: block;
    }
    .bannerSaibaMais {
        display: block;

    }

    .tituloSaibaMais {

        font-size: 2rem;
    }

    .SaibaTexto1 {
        font-size: 0.6rem;

    }

    .SaibaTexto2 {
        font-size: 0.6rem;
    }

}





body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: 'Inter', sans-serif;
}




.bannerSaibaMais {
    background-size: cover;

    height: 180vh;
    display: flex;
    flex-direction: column;


    background-image: url(../Img/fundoSaibaMais.png);
}

.tituloSaibaMais {
    color: #BF7300;
    font-size: 4rem;
    margin-left: 5vh;
}

.blocoSaiba {
    display: flex;
    justify-content: space-between;
}

.SaibaTexto1 {
    text-align: justify;
    text-indent: 8mm;
    font-size: 1.6rem;
    color: #BF7300;
    margin-left: 10vh;
    width: 70vh
}

.SaibaFoto1 {
    margin-top: 10vh;
    height: 73vh;
    width: 80vh;
    border-radius: 50vh 0 0 50vh;
}

.SaibaTexto2 {
    text-align: justify;
    text-indent: 8mm;
    font-size: 1.6rem;
    color: #063940;
    padding-right: 16vh;
    width: 70vh;
    margin-top: 10vh;

}

.SaibaFoto2 {
    margin-top: 20vh;
    height: 73vh;
    width: 80vh;
    border-radius: 0 50vh 50vh 0;

}