@media only screen and (max-width: 800px) {


    .SaibaFoto1{
        display: none;
    }
    .SaibaFoto2{
        display: none;
    }
.txt2{
    display: none;


}
.txt1{
    max-width: 135vh;
}
    .blocoSaiba{
        display: block;
    }
    .bannerSaibaMais {
        height: 200vh;

    }

    .tituloSaibaMais {

        font-size: 1rem;
    }

    .SaibaTexto1 {
        font-size: 0.6rem;
        width: 60vh;

    }

    .SaibaTexto2 {
        font-size: 0.6rem;
    }

}





body {
    height: auto;
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: 'Inter', sans-serif;
}



a{
    display: inline-block;
    position: relative;
    color: #3E838C;
    cursor: pointer;
    transition: 0.4s all ease;
}

a:hover{
    color: #BF7300;
    transition: 0.4s all ease;
}
a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #3E838C;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


.bannerSaibaMais {
    background-size: cover;

    height: 180vh;
    display: flex;
    flex-direction: column;


    background-image: url(../Img/fundoSaibaMais.png);
}

.tituloSaibaMais {
    color: #BF7300;
    font-size: 4rem;
    margin-left: 5vh;
    width: 80vh;
}

.blocoSaiba {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.blocoSaiba2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.SaibaTexto1 {
    text-align: justify;
    text-indent: 8mm;
    font-size: 1.6rem;
    color: #BF7300;
    margin-left: 10vh;
    
}

.SaibaFoto1 {
    margin-top: 10vh;
    height: 73vh;
    width: 60vh;
    border-radius: 50vh 0 0 50vh;
}

.txt1{
    width: 190vh;
    font-size: 100%;
    color: black;
}
.txt2{
    font-size: 80%;
}

.SaibaTexto2 {
    text-align: justify;
    text-indent: 8mm;
    font-size: 1.6rem;
    color: #063940;
    padding-right: 10vh;
    width: 70vh;
    margin-top: 5vh;
width: 100vh;
}

.SaibaFoto2 {
    margin-top: 10vh;
    height: 73vh;
    width: 90vh;
    border-radius: 0 50vh 50vh 0;

}