body{
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../Img/fundoEmpresas.png);
}

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: inter ;
    src: url(./Inter-VariableFont_slnt\,wght.ttf);
}
@media screen and (max-width: 800px){


}



a{
    display: inline-block;
    position: relative;
    color: #3E838C;
    cursor: pointer;
    transition: 0.4s all ease;
}

a:hover{
    color: #BF7300;
    transition: 0.4s all ease;
}
a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #3E838C;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.saudacao{
    color: #063940;
    font-size: 2.5rem;
    margin-top: 4vh;
    margin-left: 20vh;
}
.mensagem span{
    display: flex;
    color: #063940;
    font-size: 1.5rem;
    margin-left: 15vh;
    margin-right: 15vh;
}
.mensagem h2{
    color: #063940;
    font-size: 2rem;
    margin-top: 8vh;
    margin-left: 15vh;
}
.mensagem h3{
    color: #BF7300;
    font-size: 4.5vh;
    margin-left: 15vh;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: #3E838C;
    width: 30vh;
    height: 50vh;
    padding: 5vh;
    font-size: 4vh;
    color: #F5F5F5;
    margin-top: 5vh;
    border-radius: 5vh;
    margin-right: 10vh;
}
.cardU{
    display: flex;
    flex-direction: column;
    background-color: #3E838C;
    width: 30vh;
    height: 50vh;
    padding: 5vh;
    font-size: 4vh;
    color: #F5F5F5;
    margin-top: 5vh;
    border-radius: 5vh;
}
.card h5{
    margin-top: -1vh;
    font-size: 5vh;
    text-align: center;
}

.cardU h5{
    margin-top: -1vh;
    font-size: 5vh;
    text-align: center;
}
.card span{
    margin-top: 1vh;
}
.cardU span{
    margin-top: 1vh;
}
.contato{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15vh;
    margin-right: 15vh;
    margin-top: 15vh;
}
.contato h5{
    color:#BF7300;
    font-size: 3vh;
}
.contato span{
    color:#BF7300;
    background-color: #F5F5F5;
    border-radius: 1vh;
    padding: 0.75vh;
}

.linkA {
    text-decoration: none;
    color: #F5F5F5;
}