body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
@media screen and (max-width: 800px){
    .contato2{
        display: none;
        width: -300vh;
    }
    .imgContato{
        width: 10vh;
    }
    .duvida{
        margin-left: 5vh;
    }

}

* {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100vw;
    height: 25vh;
    background-color: #3E838C;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    width: 90%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top img {
    width: auto;
    height: 10vh;
}

.login-icon {
    width: 15%;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login-icon img {
    width: auto;
    height: 5vh;
    margin: 8px;
    transition: 0.4s ease-in-out;
}

.login-icon img:hover {
    transform: scale(1.1);
}

.login-icon a {
    text-decoration: none;
    color: rgb(220, 220, 220);
}

.bottom {
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom ul {
    width: 80%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}

li {
    list-style: none;
    font-size: 2.0vh;
}

li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    position: relative;
}

a:hover {
    transition: 0.4s all ease;
}

a::after {
    content: '';
    position: absolute;
    z-index: 99;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#foco::after {
    transform: scaleX(1);
    z-index: 99;
    width: 100%;

    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #ffffff;
}

.bottom ul {
    width: 80%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


a{
    display: inline-block;
    position: relative;
    color: #3E838C;
    cursor: pointer;
    transition: 0.4s all ease;
}

a:hover{
    color: #BF7300;
    transition: 0.4s all ease;
}
a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #3E838C;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

#tittle {
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 14%;
    color: #063940;
    font-size: 5vh;

}

.Perguntas {
    margin-left: 10%;
}



.question {
    width: 90%;
    padding: 1vh;
    background-color: #cfe7e9;
    border-radius: 2vh;

}

.question input,
.question .answer {
    display: none
}

.question label {
    font-weight: bold;
    margin-left: 2%;
    color: #063940;
    padding-top: 3vh;
    cursor: pointer;
}

.question input:checked~.answer {
    width: 97%;
    height: 20vh;
    font-weight: bold;
    display: block;
    background-color: #e8f3f3;
    padding: 2vh;
}


h1 {
    color: #BF7300;
    font-size: 2.5rem;

}

h4 {
    color: #063940;
    font-size: 2rem;
}
.blocoS{
    display: flex;
}
.container {
    margin: auto;
    margin-top: 10vh;
    height: 70vh;
    justify-content: space-around;
    width: 80%;
}
.duvida{
    margin-left: 14%;
    color: #BF7300;
    font-size: 2.7rem;
    font-weight: bold;
}
.entre{
    margin-top: 10vh;
    width: 70vh;
    margin-left: 6vh;
}
.juncao{
    display: flex;
}
.contato {
    color: #BF7300;
    font-size: 3vh;
    width: 60vh;
    margin-left: 10vh;
}

.imgContato{
    width: 70vh;
    

}

.answer a {
    text-decoration: none;
    color: #BF7300;
}

.textos{width: 100%;
margin-right: 0vh;}

.form{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-form{
    display: flex;
    width: 65%;
    height: 70vh;
    background-color: #e8f3f3;
    border-radius: 2vh;
    box-shadow: rgba(0, 0, 0, 0.158) 4px 4px 14px 14px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-form h2{
    font-size: 3vh;
    width: 60%;
}

form{
    
    width: 80%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

form input{
    width: 70%;
    height: 5vh;
    border-style: none;
    background-color: #06394000;
    border-bottom: 1px solid black;
}

form input:focus{
    outline: none;
}

form button{
    width: 60%;
    height: 5vh;
    border-style: none;
    background-color: #3E838C;
    border-radius: 5vh;
    color: white;
}