@media screen and (max-width: 850px) {
    .blocoImgBannerDaVinci {
        display: none;
        width: 100%;
    }

    .textoBannerDaVinci {
        width: 100vh;
    }

    .textoBannerDaVinci2 {
        width: 110vh;
    }

    .fundoDaVinci {
        margin-bottom: 80vh;
        height: 170vh;
    }

    .bannerNumeros {
        flex-wrap: wrap;
        margin-top: 20vh;
        /* margin-bottom: 20vh; */
    }

    .blocoNumero,
    .blocoNumero2,
    .blocoNumero3,
    .blocoNumero4 {
        display: block;
        margin-top: 20vh;
    }

    .blocoNumero:hover,
    .blocoNumero2:hover,
    .blocoNumero3:hover,
    .blocoNumero4:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    .textoBannerInovacao {
        font-size: 3.7rem;
        position: relative;
        right: -10vh;
    }

    .blocoAllInovacao {
        display: block;

    }

    .bannerInovacao {
        width: 80%;
        display: flex;
        justify-content: center;
        margin-right: 10vh;
    }

    .fundoInovacao {
        margin-bottom: 30vh;

    }

    .cardBannerEquipe2 {
        display: none;
    }

    .imgBannerInovacao {
        display: none;
    }

    .inove {
        max-width: 100vh;
    }

    .tituloBannerInovacao {
        margin-left: -10vh;
    }

    .textoBannerDaVinci2 {
        margin-bottom: 80vh;
    }

    .imgBannerEquipe {
        max-width: 18vh;

        margin-left: 1vh;
        margin-right: 3vh;
    }

}



body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: inter;
    overflow-x: hidden;
    /* background-image: linear-gradient(to bottom, white, white, white, rgba(253, 183, 92, 0.20),white, white, #8ebdb63e, #8ebdb63e); */
}



a {
    display: inline-block;
    position: relative;
    color: #3E838C;
    cursor: pointer;
    transition: 0.4s all ease;
}

a:hover {
    color: #BF7300;
    transition: 0.4s all ease;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #3E838C;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*Banner Inicial*/

.bannerInicial {
    /* margin-top: 7vh; */
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-image: url("../Img/pexels-ron-lach-7584629(Original).gif"); */
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    position: relative;
 
}

#video {
    width: 100%;
    height: inherit;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.blocoImgBannerInicial {
    width: 100vh;
    height: 70vh;
}

#imgBannerInicial {
    height: 70vh;
}

.tituloBannerInicial {
    margin-top: 10vh;
    font-size: 7vh;
    /* padding-right: 15vh; */
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0.9em rgba(0, 0, 0, 0.812);
    width: 100vh;
}

#btn-fale {
    align-self: baseline;
    width: 17vw;
    height: 7vh;
    border-style: none;
    background-color: white;
    border-radius: 5vh;
    font-size: 2.4vh;
    box-shadow: 0.1em 0.1em 0.9em rgba(0, 0, 0, 0.332);
    transition: 0.4s ease-in-out;
    margin-top: 3%;
}

#btn-fale:hover {
    transform: scale(1.04);
}

.blocoTextoBannerInicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
    margin-left: 10vh;
}

.botaoSaibaMais {
    background-color: #3E838C;
    color: #ffffff;
    width: 30vh;
    height: 7vh;
    text-decoration: block;
    border-radius: 25px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.botaoSaibaMais:hover {
    background-color: #BF7300;
}

/*Banner Da Vinci*/
.fundoDaVinci {
    height: fit-content;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.segundaParte {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    width: 90%;
    align-self: center;
    flex-direction: row;
    margin-top: 4%;
}

.textSegunda {
    width: 45%;
}

#ramo {
    color: #3E838C;
}

.texttext {
    width: 90%;
}

.texttext h1 span {
    color: #3E838C;
}

.imgSegunda {
    width: 55%;
    height: inherit;
    margin-left: -100px;
    background-color: #3E838C;
    border-bottom-right-radius: 40vh;
    border-top-right-radius: 40vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0.2em 0.2em 0.9em 0.2em rgba(0, 0, 0, 0.349);
}

.imgSegunda img {
    height: 55vh;
    width: auto;
}


.bannerDaVinci {
    height: 75vh;
    display: flex;
    justify-content: space-between;
    /* padding-top: 8vh; */
    /* margin-top: 3vh; */
    /* background: rgba(253, 183, 92, 0.20); */
}

.blocoTextoBannerDaVinci {
    width: 40%;
    color: #BF7300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}

.blocoDescDaVinci {
    height: 50vh;
}

.tituloBannerDaVinci {

    font-size: 3rem;
    width: 100vh;
}

.textoBannerDaVinci {
    font-size: 1.3rem;
    text-align: justify;
    text-indent: 8mm;
}


.textoBannerDaVinci2 {
    font-size: 1.5rem;
    /* text-align: justify; */
    text-indent: 10mm;
    font-weight: bolder;
}

.blocoImgBannerDaVinci {
    width: 45%;
}

.decoracaoBannerDaVinci {
    margin-top: 10vh;
    border-radius: 237px 0px 0px 237px;
    background: rgba(253, 183, 92, 0.50);
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgBannerDaVinci {
    border-radius: 237px 0px 0px 237px;
    /* background: rgba(253, 183, 92, 0.50); */
    height: 60vh;
    width: 85%;
    padding-left: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Banner Números*/

.bannerNumeros {
    padding-top: 10vh;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10vh 0 10vh;
    width: 90%;
    z-index: 1;
}

.blocoNumero {
    width: 40vh;
    height: 40vh;
    border-radius: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.15);
    margin-left: 4vh;

}

.blocoNumero2 {
    width: 40vh;
    height: 40vh;
    border-radius: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.15);
    margin-left: 4vh;
}

.blocoNumero3 {
    width: 40vh;
    height: 40vh;
    border-radius: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.15);
    margin-left: 4vh;
}

.blocoNumero4 {
    width: 40vh;
    height: 40vh;
    border-radius: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.15);
    margin-left: 4vh;
}

.blocoNumero:hover,
.blocoNumero2:hover,
.blocoNumero3:hover,
.blocoNumero4:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

}

.tituloBannerNumeros {
    font-size: 1rem;
    color: #063940;
    width: 70%;
    text-align: center;
}

.textoBannerNumeros {
    font-size: 2.3rem;
    font-weight: bold;
    margin: 0;
    color: #8EBDB6;
}


/*Banner Nossos Serviços*/
.bannerServicos {
    height: fit-content;
    margin: 8vh 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-self: center;
    background-color: #3e838c00;

}

.allbannerservi {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    margin: 0;
    padding: 0;
}

.bannerServicosCards {
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.tituloBannerServicos {
    text-align: center;
    padding-top: 5vh;
    font-size: 1.7rem;
    color: #063940;
    margin-bottom: -50px;
}

.imgBannerServicos {
    height: 30vh;
}

.blocoServicos {
    background-color: #ffffff;
    width: 40vh;
    height: 50vh;
    box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.15);
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
}

.blocoServicos:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.textoServicos {
    text-align: center;
    color: #063940;
    font-size: 1.1rem;
    padding: 5vh;
}

/*Banner Inovação*/
.fundoInovacao {
    /* margin-top: 30vh; */
    height: 90vh;
    /* display: flex; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.bannerInovacao {
    /* margin-top: 30vh; */
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10vh 20vh 10vh 20vh;
    /* margin-top: -30vh; */
}



/*Banner Equipe*/

.bannerEquipe {
    height: 60vh;
    background-color: #eeeded;
}

.tituloBannerEquipe {
    text-align: center;
    font-size: 2rem;
    color: #000000;
    padding: 5vh 0vh;
}

#destaqueEquipe {
    color: #3E838C;
}

.blocoBannerEquipe {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cardBannerEquipe2 {
    width: 30%;
    height: 30vh;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.cardBannerEquipe {
    width: 30%;
    height: 30vh;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imgBannerEquipe {
    height: 20vh;
    width: 20vh;
    border-radius: 100%;
}

.subtituloBannerEquipe {
    font-weight: 500;
    font-size: 1.3rem;
    color: #063940;
}

.textoBannerEquipe {
    color: #3E838C;
}

.setaBannerEquipe {
    height: 10vh;
}

.botaoSeta {
    border: none;
    background-color: #bf730000;
    cursor: pointer;
}

.inove {
    width: 40%;

}

.cardbanner {
    width: 32%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 2vh;
}

.imgcard {
    width: 90%;
    height: 20vh;
    top: 30vh;
    align-self: center;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0.2em 0.2em 0.9em 0.2em rgba(0, 0, 0, 0.11);
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #3E838C;
    border-radius: 2vh;
}

.imgcard:hover {
    box-shadow: 0.2em 0.2em 0.9em 0.2em rgba(0, 0, 0, 0.304);
}

#img1 {
    background-image: url("../Img/pexels-torsten-dettlaff-70911.jpg");
    background-size: cover;
}

#img2 {
    background-image: url("../Img/pexels-andrea-piacquadio-3756688.jpg");
    background-size: cover;
}

#img3 {
    background-image: url("../Img/pexels-pixabay-534219.jpg");
    background-size: cover;
}

.cardbanner h1 {
    font-size: 2.5vh;
}

.textimgcard {
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.textimgcard p {
    font-size: 2.2vh;
}

.boxMoni {
    height: 75vh;
    width: 89%;
    background-color: #ffffff;
    align-self: center;
    box-shadow: 0.2em 0.2em 0.9em 0.6em rgba(0, 0, 0, 0.074);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 2vh;
}

.leftboxx {
    background-image: url("https://portal.wemeds.com.br/wp-content/uploads/2021/09/cirurgia-robotica-em-brasilia-1.jpg");
    background-size: cover;
    width: 40%;
    height: inherit;
    display: flex;
    align-items: end;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
}

.cardplay {
    display: flex;
    align-items: end;
    height: 15vh;
    width: 8vw;
    margin-bottom: 5%;
    margin-left: 5%;
    background-color: #3E838C;
    border-radius: 15%;
    flex-direction: column;
}

.card img {
    width: 10vw;
    height: 10vh;
}

.rightboxx {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.textrightbox {
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    flex-direction: column;
    width: 85%;
    height: 70vh;
    text-align: start;
}

.textrightbox h1{
    margin: 0;
    font-size: 3.6vh;
    text-align: start;
}

.cardscomponente{
    width: 100%;
    height: 40vh;
    justify-self: end;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardcomponente{
    width: 45%;
    height: 15vh;
    background-color: #3E838C;
    border-radius: 2vh;
    margin: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

.cardcomponente img{
    width: auto;
    height: 7vh;
    margin-right: 5%;
}

*{
    margin: 0;
    padding: 0;
}

.parteDaVinci{
    height: 70vh;
    width: 85%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.headerParte{
    width: 60%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerParte p{
    color: #3E838C;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Onest&display=swap');

.headerParte h1{
    color: #292828;
    font-family: 'Onest', sans-serif;
    font-size: 4vh;
}
