@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
        margin-top: 23vh;
    }

    #content-parte{
        display: flex;
        flex-direction: column;
    }

    #parte-esquerda{
        width: 90%;
    }

    #parte-direita{
        width: 90%;
        font-size: 2.3vh;
    }

    #setaBannerEquipe{
        height: 5vh;
    }

    #card1Equipe{
        flex-direction: column;
        height: 40vh;
    }

    #card2Equipe{
        flex-direction: column;
        height: 40vh;
    }

    #remove{
        display: none;
    }

    #links-footer{
        width: 50%;
    }

    #icons-footer{
        width: 42vw;
    }

}

@media screen and (max-width: 850px) {
    body{
        overflow-x: hidden;
    }

    /* .ag-format-container{
        
    } */

    .ag-courses_box{
        padding: 150px 0;
        display: none;
    }

    #before-banner{
        height: 85vh;
    }

    #img-davinci{
        display: none;
    }

    #sobre-davinci{
        width: 100vw;
        justify-content: center;
        
    }

    .img-davinci img{
        display: none;
    }

    #text-davinci{
        width: 80%;
    }

    #text-davinci span{
        font-size: 2vh;
    }

    #indicador p{
        font-size: 2vh;
    }

    #indicador2 p{
        font-size: 2vh;
    }

    #indicador3 p{
        font-size: 2vh;
    }

    #indicador4 p{
        font-size: 2vh;
    }



    #indicador h1{
        font-size: 3vh;
    }

    #indicador2 h1{
        font-size: 3vh;
    }

    #indicador3 h1{
        font-size: 3vh;
    }

    #indicador4 h1{
        font-size: 3vh;
    }

    .a{
        width: 25%;
    }


    #logoimg{
        height: 7.5vh;
    }

    #login-icon{
        width: 50%;
    }

    #linklogin{
        font-size: 2vh;
    }

    #bottom{
        width: 110%;
    }

    #bottom ul li a{
        
        font-size: 2vh;
    }

    #text-banner{
        width: 60%;
    }

    #text-banner button{
        font-size: 2vh;
    }

    #text-banner p{
        font-size: 2vh;
    }

    #text-banner h1{
        font-size: 3vh;
    }

    #content-sobre-nos h1{
        font-size: 4vh;
    }

    .ag-format-container {
        width: 96%;
        margin-top: 23vh;
    }

    #SUBTITLE{
        font-size: 3vh;
        width: 90vw;
    }

   #content{
    height: 167vh;
    justify-content: space-between;
   }

   #textbox1{
    width: 90vw;
   }

   #textbox2{
    display: none;
   }

   #textbox{
    height: 88vh;
    font-size: 3vh;
   }

   #sobre-nos{
    height: 114vh;
   }

   
}


* {
    margin: 0;
    padding: 0;
}



body {
    height: auto;
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}



a{
    display: inline-block;
    position: relative;
    color: #3E838C;
    cursor: pointer;
    transition: 0.4s all ease;
}

a:hover{
    color: #BF7300;
    transition: 0.4s all ease;
}
a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #3E838C;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


.bannerSaibaMais {
    background-size: cover;

    height: 180vh;
    display: flex;
    flex-direction: column;


    background-image: url(../Img/fundoSaibaMais.png);
}

.bottom ul {
    width: 80%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}

.tituloSaibaMais {
    color: #BF7300;
    font-size: 4rem;
    margin-left: 5vh;
    width: 80vh;
}

.blocoSaiba {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.blocoSaiba2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.SaibaTexto1 {
    text-align: justify;
    text-indent: 8mm;
    font-size: 1.6rem;
    color: #BF7300;
    margin-left: 10vh;
    
}

.SaibaFoto1 {
    margin-top: 10vh;
    height: 73vh;
    width: 60vh;
    border-radius: 50vh 0 0 50vh;
}

.txt1{
    width: 190vh;
    font-size: 100%;
    color: black;
}
.txt2{
    font-size: 80%;
}

.SaibaTexto2 {
    text-align: justify;
    text-indent: 8mm;
    font-size: 1.6rem;
    color: #063940;
    padding-right: 10vh;
    width: 70vh;
    margin-top: 5vh;
width: 100vh;
}

.SaibaFoto2 {
    margin-top: 10vh;
    height: 73vh;
    width: 90vh;
    border-radius: 0 50vh 50vh 0;

}

.navbar {
    width: 100vw;
    height: 25vh;
    background-color: #3E838C;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    width: 90%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top img {
    width: auto;
    height: 10vh;
}

.login-icon {
    width: 15%;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login-icon img {
    width: auto;
    height: 5vh;
    margin: 8px;
    transition: 0.4s ease-in-out;
}

.login-icon img:hover {
    transform: scale(1.1);
}

.login-icon a {
    text-decoration: none;
    color: rgb(220, 220, 220);
}

.bottom {
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom ul {
    width: 80%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}

li {
    list-style: none;
    font-size: 2.0vh;
}

li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    position: relative;
}

a:hover {
    transition: 0.4s all ease;
}

a::after {
    content: '';
    position: absolute;
    z-index: 99;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#foco::after {
    transform: scaleX(1);
    z-index: 99;
    width: 100%;

    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #ffffff;
}


/* new */

.content{
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.banner2{
    height: 70vh;
    width: 100%;
    background:linear-gradient( #3e838c6c 100%, #3E838c6c),url("../Img/doctor-79579_1280.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner2 h1, p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#SUBTITLE{
    width: 60%;
    text-align: center;
    margin-top: 2%;
}

#fcbtn{
    margin-top: 2%;
    width: 20%;
    height: 5vh;
    border-style: none;
    background-color: #ffffff;
    border-radius: 3vh;
}

.sobre-nos{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-sb{
    height: 90vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.textbox{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 80vh;
}

.textbox1{
    width: 48%;
    height: inherit;
}

.textbox1 p{
    color: #7a7a7a;
    font-size: 3.5vh;
}